body{
    font-family: 'Montserrat', sans-serif;
    background: #EFE6E4;
    color: #533738;
    margin:0 auto;
    border: 1px solid blue;
    width: 1400px;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.main-header{
    background-image:url(../images/2.jpg);
    height: 100px;  
}
.navigation{
    display: grid;
    grid-template-columns: 65px 1fr ;
    align-items: center;
    column-gap: 90px;
    min-height: 25px;
    margin-left: 98px;
    margin-right: 100px;
    margin-top: 36px;
    width: 1202px;
    
}
.navigation-logo{

}
.navigation-list{
    display:flex;
    justify-content: space-between;    
}
.navigation-item a{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #533738;
    margin: 0;
}
.skil{
background-image:url(../images/2.jpg);
width: 1400px;
height: 654px;

margin: 0;
}
.skil-title{
font-style: normal;
font-weight: 400;
font-size: 50px;
width: 534px;
height: 186px;
margin-top:91px;
margin-left:184px;

margin-bottom: 24px;
}
.skil-p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 493px;
    height: 90px;  
    margin-left:184px;
    
    margin-bottom: 21px;
}
.skil-button{
    background: #CC8B86;
    display: block;
    width: 155px;
    padding: 25px 60px;
    margin-left: 182px;
    color:#533738;
    
}
.button{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
}
.about{
    width: 1400px;
    
    margin: 0;
      } 
.about-img{
    
    margin-left: 114px;
    margin-right: 63px;
}
.about-text.text1{
    margin-bottom: 60px;
}
.about-box{
    display: flex;
    
    } 
    
.about-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-top: 50px;
    text-align: center;
    
    margin-bottom: 40px;
}
.about-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 528px;
    margin:0;
   
}
.experience{
    color: #FFFFFF;
    background: #8D7370;
    margin: 0;
    width: 1400px;
    height: 273px;   
}
.experience-list{
    display:flex;
    align-items: center;
    margin: 0;
   
}
.experience-item{
    margin: 0;
    width: 190px;

}
.experience-item1{
    margin-right:269px ;
    margin-left: 114px;
}
.experience-item2{
    margin-right:175px ;
    
}
.experience-p1{
    font-weight: 400;
font-size: 50px;
line-height: 62px;
text-align: center; 
margin-bottom: 5px;
}
.experience-p2{
font-weight: 500;
font-size: 30px;
line-height: 37px;
text-align: center;
margin: 0;
}
.works{
    
    margin:0px;
    
}
.works-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.works-item{
    margin-right: 20px;
}
.works-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #533738;
    
    margin-top: 47px;
    margin-bottom: 40px;
    margin-left: 100px;
}
.button-works{
    display:block;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #533738;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 65px;
}
.team{
    background: #E2C4BA;
    margin: 0;
}
.girl{
    display: flex;
    justify-content: center;
}
.team-div-girl1{
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-right: 38px;
}
.team-div-girl2{
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-right: 38px;
}
.team-div-girl3{
    width: 320px;
    display: flex;
    flex-direction: column;
}
.team-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}
.team-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.advantage{
    background: #E2C4BA;
    margin: 0;
    border: 1px solid #E2C4BA;
}
.advantage-list{
    display: flex;
    justify-content: center;
}
.advantage-item{
    width: 285px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.advantage-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}
.advantage-text1{
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
}
.advantage-text2{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 10px;
}
.reviews{
    width: 1080px;
    margin: 0 auto;
}
.revievs-img1{
    margin-bottom: 24px;
}
.reviews-conteiner{
    display: flex;
}
.rewiews-blockquote{
    width: 750px;
}
.reviews-button1{
    height: 100px;
    order: -1;
    margin-top: auto;
    margin-bottom: auto;
    
}
.reviews-button2{
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    
}
.reviews-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}
.reviews-p{
    font-weight: 400;
font-size: 18px;
line-height: 30px;
}
.reviews-cite{
    font-weight: 400;
font-size: 18px;
line-height: 30px;
}
.reviews-button{
    background: #CC8B86;
}
.contact{
    background: #8D7370;
    display: flex;
}
.contact-conteiner{
    width: 650px;
    padding-left: 192px;
    
    border: 1px solid red;
}
.form-input{
    display: block;
}
.contact-title{
    font-weight: 400;
font-size: 40px;
line-height: 50px;
color: #FFFFFF;
}
.contact-p{
    font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
opacity: 0.6;
}
.form-input{
    background: #8D7370;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
    margin-bottom: 35px;
}
.form-button{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;  
    background: #CC8B86;
    padding: 25px 66px 24px 68px;
}
.main-footer{
   
}
.footer-conteiner{
    display: flex;
    width: 1200px;
    margin-left: 100px;
    height: 150px;
    margin-top: 83px;
}
.footer-p1{
    margin-right: 42px;
}
.footer-p2{
    margin-right: 372px;
}
.footer-p{
    font-weight: 400;
font-size: 18px;
line-height: 30px;
}
.visually-hidden{
    visibility: hidden;
}


